
<launch>

    <arg name="config_file" default="$(find lightning)/config/default_livox.yaml"/>
    <arg name="launch_prefix" default=""/>

    <node pkg="lightning" type="run_slam_online" name="run_slam_online" output="screen"
        args="--config $(arg config_file)" launch-prefix="$(arg launch_prefix)"/>

</launch>
